<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BFGlobalService">
                    <security mode="Transport" />
                </binding>
                <binding name="BFGlobalService1" />
                <binding name="BFExchangeService">
                    <security mode="Transport" />
                </binding>
                <binding name="BFExchangeService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.betfair.com/global/v3/BFGlobalService"
                binding="basicHttpBinding" bindingConfiguration="BFGlobalService"
                contract="WebServices.GlobalService.BFGlobalService" name="BFGlobalService" />
            <endpoint address="https://api.betfair.com/exchange/v5/BFExchangeService"
                binding="basicHttpBinding" bindingConfiguration="BFExchangeService"
                contract="WebServices.ExchangeService.BFExchangeService" name="BFExchangeService" />
        </client>
    </system.serviceModel>
</configuration>